.ifResult {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }


  &__thumbnail {
    width: 4em;
    height: auto;
    border-radius: 1em;
  }

  &__rightText {

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 0.5em;

    &__iconText {
      display: flex;
      flex-direction: row;
      gap: 0.3em;

      &__container {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
      }

    }

    &__h1 {
      font-size: 0.6em;
      color: white;
      line-height: 1.3em;
    }

    &__icon {
      width: 0.6em;
      height: auto;
    }

    &__p {
      font-size: 0.6em;
      color: white;
    }
  }
}



// Media Queries

@media (min-width: 425px) { // Starting at 425px
  .ifResult__thumbnail {
    width: 5em;
    height: auto;
    border-radius: 1em;
  }

  .ifResult__rightText {
    padding-top: 1.2em;
    gap: 1.3em;
  }
}

@media (min-width: 768px) { // Starting at 768px
  .ifResult__thumbnail {
    width: 7em;
    height: auto;
    border-radius: 1em;
  }

  .ifResult__rightText {
    padding-top: 2em;
    gap: 1.3em;
  }

  .ifResult__rightText__h1 {
    font-size: 0.9em;
    color: white;
    line-height: 1.3em;
  }

  .ifResult__rightText__icon {
    width: 0.8em;
    height: auto;
  }

  .ifResult__rightText__p {
    font-size: 0.7em;
    color: white;
  }
}

