.MovieDetail {

  &__cover {
    width: 100vw;
    height: 27vh;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  

  &__thumbnail {
    width: 25%;
    max-width: 300px;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 36%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  &__h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: 29vh;
    margin-left: 27vw;
    line-height: 1.5em;
    z-index: 2;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin-top: 3em;
    z-index: 2;

    &__children {
      display: flex;
      flex-direction: row;
      gap: 0.3em;

      &__icon {
        width: 0.7em;
        height: auto;
      }
    
      &__iconText {
        color: rgb(172, 172, 172);
        font-family: "Montserrat", sans-serif;
        font-size: 0.6em;
      }
    }
  }

  &__aboutcontainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    

    &__h2 {
      color: white;
      margin-top: 6vh;
      font-weight: 500;
      font-size: 0.8em;
    }

    &__p {
      color: white;
      font-size: 0.6em;
      line-height: 1.5em;
    }

    &__line {
      width: 26vw;
      height: 0.2em;
      border-radius: 1em;
      background-color: rgba(172, 172, 172, 0.123);
      margin-top: -0.5em;
    }

  }
}


// Media Queries

@media (min-width: 375px) { // Starting at 375px
  .MovieDetail__container {
    margin-top: 5em;
  }

  .MovieDetail__h1 {
    margin-top: 28vh;
  }

}

@media (min-width: 395px) { // Starting at 395px
  .MovieDetail__container {
    margin-top: 3.5em;
  }

  .MovieDetail__cover {
    object-fit: cover;
    width: 100%;
    height: 13em;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .MovieDetail__h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: 38vh;
    margin-left: 31vw;
    line-height: 1.5em;
    z-index: 2;
  }

  .MovieDetail__thumbnail {
    width: 30%;
    max-width: 125px;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .MovieDetail__aboutcontainer__h2 {
    margin-top: 1.5em;
  }
}

@media (min-width: 419px) { // Starting at 419px
  .MovieDetail__container {
    margin-top: 5em;
  }

  .MovieDetail__cover {
    object-fit: cover;
    width: 100%;
    height: 13em;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .MovieDetail__h1 {

    margin-top: 38vh;
    margin-left: 31vw;
  }

  .MovieDetail__thumbnail {
    width: 30%;
    max-width: 125px;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
}



@media (min-height: 568px) { // Starting at 568px
  .MovieDetail__thumbnail {
    top: 36%;
  }
}

@media (min-height: 740px) { // Starting at 740px
  .MovieDetail__container {
    margin-top: 5em;
  }

  .MovieDetail__h1 {
    margin-top: 28vh;
  }
}

@media (min-height: 740px) { // Starting at 745px
  .MovieDetail__thumbnail {
    top: 34%;
  }
}

@media (min-height: 845px) { // Starting at 845px
  .MovieDetail__thumbnail {
    top: 31%;
  }
}

@media (min-height: 915px) { // Starting at 915px
  .MovieDetail__container {
    margin-top: 9em;
  }

  .MovieDetail__h1 {
    margin-top: 24vh;
  }

  .MovieDetail__thumbnail {
    top: 28%;
  }
}

@media (min-height: 1050px) { // Starting at 1050px
  .MovieDetail__container {
    margin-top: 7em;
  }

  .MovieDetail__h1 {
    margin-top: 21vh;
    margin-left: 27vw;
    font-size: 1.5em;
  }

  .MovieDetail__thumbnail {
    top: 24%;
  }
}

@media (min-height: 1200px) { // Starting at 1050px
  .MovieDetail__container {
    margin-top: 7em;
  }

  .MovieDetail__h1 {
    margin-top: 19vh;
    margin-left: 27vw;
    font-size: 1.5em;
  }

  .MovieDetail__thumbnail {
    top: 22%;
  }
}

@media (min-height: 1350px) { // Starting at 1350px
  .MovieDetail__container {
    margin-top: 7em;
  }

  .MovieDetail__h1 {
    margin-top: 17vh;
    margin-left: 27vw;
    font-size: 1.5em;
  }

  .MovieDetail__thumbnail {
    top: 20%;
  }
}
